@import url(https://fonts.google.com/specimen/Inconsolata);
:root{
    --primary-color: rgb(12, 12, 226);
    --accent-colour: rgb(89, 89, 131);
    --text-color: rgb(11, 11, 16);
    --link-color: rgb(175, 175, 236);
    --background-color:white;
    --light-gray: white;
    --gray: rgb(102, 75, 75);
    --dark-gray: rgb(222, 11, 11);
}

*{
    margin: 0;
    padding: 0;
    font-family:'Inconsolata' , sans-serif;
    text-decoration: none;

}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
}
/* .header{
    border: 1px solid black;
} */
.header-content{
    display: flex;
    justify-content: space-between;
    max-inline-size: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0.4rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: .4rem;
    color: var(--text-color);
}
.logo-icon{
   width: 30px;
}
.nav{
    display: none;
    gap: 1.2rem;
}
@media (min-width:768px){
   .nav{ display: flex;}
}
.nav-link{
    color: rgb(136, 100, 100);
    font-size: 1rem;
    font-weight: 600;
    transition: colour 0.6s;
}
.nav-link:hover{
    color: blue;
}

.contect-button{
    display: none;
    border-radius: 0.3rem;
    color: white;
    background-color: rgb(118, 65, 204);
    border: 2px solid rgb(118, 65, 204);
    padding: 5px;
    transform:all 0.1s ;
    font-size: large;
    font-weight: 700;
}
@media (min-width:768px){
    .contect-button{
        display: block;
    }
}
.contect-button:hover{
    background-color: rgb(57, 57, 94);
}
.menu-button{
    display: none;
    border: none;
   
}
@media screen and (max-width :768px){
    .menu-button{
        display: block;
    }
}
.menu-icon{
    width: 20px;
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-level{
    font-size: 1.1rem;
    font-weight: 530;
    color: rgb(130, 91, 91);
}
.section-title{
    font-size: 2.5rem;
    padding: 1rem;
}
.section-discription{
    padding: 1rem;
    font-size: 1.1rem;
    color: rgb(108, 105, 88);
}
.button-group{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 1px;
}
.start-button,
.tour-button{
    border-radius: 0.3rem;
    color: white;
    background-color: rgb(118, 65, 204);
    border: 2px solid rgb(118, 65, 204);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transform:all 0.1s ;
    font-size: large;
    font-weight: 700;
    margin: 20px 20px 20px 0;
    gap: 20px;
}
.tour-button{
    background-color: rgb(98, 58, 58);
}
.start-button:hover{
    background-color: rgb(57, 57, 94);
}
.tour-button:hover{
    background-color: rgb(138, 142, 49);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-container{
    border-radius: 1.3rem;
    height: 50vh;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.section-image{
    height: 100%;
    width: 100%;

}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;

    }
    .section-discription{
        padding-left: 0;
    }
    .button-group{
        display: flex;
        justify-content:flex-start;
        padding: 0px;
        gap: 20px;
    }
    .content-right{
        flex: 1;
        display: flex;
        height: 60vh;
        justify-content: center;
        align-items: center;

    }
  
    .section-label{
        font-size: 0.5rem;
    }
    .section-title{
        font-size: 3.2rem;
    }
    
}
.company-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    align-items: center;

}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: lightgray;
    border: none;
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    padding:1rem 1.8rem ;
    animation:slideFromLeft 1s ease forwards;
     
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* flex-wrap: nowrap; */
}
.svg-img{
    object-fit: contain;
    width: 30px;
    display: block;
}
.logo-txt{
    font-size: 1rem;
}
@media screen and (min-width:550px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
        padding: 0.7rem 1rem;
        margin-top: 1rem;
    }
    .company-title{
        font-size: 2rem;
        font-weight: bold;
    }
}
.feature-container{
    background-color: rgb(220, 207, 207);
    padding: 2rem 0;
    text-align: center;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-title{
    font-size: 1.9rem;
}
.main-description{
    color: rgb(112, 104, 104);
    font-size: 1rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.icon-container{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.8rem;
    height: 1.8rem;
    /* width: 38px; */
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b5a9df9;
    padding: 1.5rem ;
    border-radius: 1rem;
    gap: 1rem;

}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    color:white ;
    font-size: 1.3rem;
    font-weight: bold;
}
.feature-description{
    color: white;
}
.feature-card:nth-child(1){
    background-color: #220273;
}
.feature-card:nth-child(2){
    background-color: #c44b4b;
}
.feature-card:nth-child(3){
    background-color: rgb(188, 188, 18);
}
.feature-card:nth-child(4){
    background-color: #7f7ebd;
}
.feature-card:nth-child(5){
    background-color: #293805;
}
.feature-card:nth-child(6){
    background-color: #8310d0;
}
@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    background-color: #f1eded;
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1380px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(181, 156, 156);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.1rem;
    gap: 1.1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow:  0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial-svg{
    width: 4rem;
    height: 4rem;
    
}
.testimonial-avtar{
    /* width: 4rem;
    height: 4rem;
    text-align: center; */
}
.testimonial-text{
    font-size: 0.9rem;
}
.testimonial-name{
    color: #8310d0;
    font-size: 1.1rem;
}
.testimonial-desc{
    font-size: 0.8rem;
    color: rgb(57, 105, 89);
}
.newsletter-container{
    background-color: #f1eded;
    padding: 2rem;
    max-width: 1380px;
    /* height: 40vh; */
    margin: 0 auto;
} 
.newsletter-content{
    display: flex;
    overflow: hidden;
    background-color: rgb(233, 194, 194);
    flex-direction: row;
    height: 320px;
    width: 70%;
    border-radius: 0.6rem;
    margin: 0 auto;
    
}
.news-right{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}


.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #441762;
}
.news-left{
    width: 50%;
    height: 100%;
    display: none;
}
@media screen and (min-width:768px){
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
     
}
.news-left img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-info{
    padding: 0 0.2rem;
}
.news-desc{
    text-align: left;
    color: rgb(77, 83, 83);
}
.news-form{
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}
.news-email{
    background-color: white;
    color: #3e43328d;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border-color: #441762;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    outline: none;
}
.news-send-button{
    background-color: #b116c9;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.news-send-button:hover{
    background-color: rgb(84, 84, 148);
}
.privacy-policy{
    padding:0 rem ;
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
    color: #4e4545;
}
.news-link{
    text-decoration: underline;
    color: #6f4176;
}
@media screen and (min-width:768px){
    .news-title{
        font-size: 2.1rem;
    }
}
.footer-conteainer{
    background-color: #f1eded;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1380px;

}
.footer{
    max-width:1380px;
    padding: 1.5rem 9.6rem;
    text-align: left;
    display: flex;
    justify-content: space-between;

}
.footer-top{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding-top: 2rem; */
    /* padding-right: 1.5rem; */
    gap: 1.1rem;
}
.logo-svg{
    width: 25px;
    
}
/* .comp-logo{
    padding-bottom: 1.1rem;
} */
.logo-link{
    display: flex;
    gap: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    /* justify-content: center;
    align-items: center;
    text-align: start; */
}
.socials{
    display: flex;
    gap: 0.5rem;
}
.social-icon{
    /* width: 1.5rem;
    height: 1.5rem; */
    width:20px ;
}
.filler-text{
    font-size: 0.9rem;
    color: rgb(17, 16, 16);
    
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    /* padding-right: 1rem; */
    /* width: 58%; */
    /* padding: 1.5rem 1rem; */
    
}
.footer-grid-heading{
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
ul{
    list-style-type: none;
}
.footer-link{
    color: #523a3a;
    font-size: 0.8rem;
    
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.footer-copyright{
    color: rgb(66, 64, 64);
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid #aeb0b3;
}
@media screen and (max-width:1100px) {
    .footer{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .footer-top{
        padding-left: 5rem;
    }
}
@media screen and (max-width:600px){
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-top{
        padding-right: 5rem;
        padding-left: 0.001rem
    }
}
